*{
    box-sizing: border-box;
   
}

body{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(238, 236, 236);
    height:120vh;
}

header{
    display:flex;
    flex-direction: column;
   
    
    /*justify-content: center;*/
    background-color: rgb(238, 236, 236);
    
}

header p{
    font-weight: bold;
    align-items: left;  
}

main{
    background-color: rgb(238, 236, 236);
    display:grid;
   
    grid-template-columns: 1fr;
    width: 100%;
    margin:0;
   
}



div.container{
   
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    width:100%;      
  

    margin-right:10px;
    
}

.student{
    border: 1px solid black;
    display:grid;
    grid-template-columns: 1fr;
    
    align-items:center;
    justify-content: center;
    width:230px;    
    max-width:250px;  
    margin-top:10px;

    margin-right:10px;
    
}

.email{
    display:flex;
    flex-wrap: wrap;
    align-items:left;
    justify-content:left;
    width:100%; 
    margin:0;
}
.pics{
    padding: 5px;
    border-radius: 50%;
    width:80px;
    height:80%;
    margin:0;
}

.pageNumber{
    border:2px solid rgb(117, 117, 117);
    background-color: rgb(170, 169, 169);
    align-items: center;
    text-align:center;
    width:30px;
    height:35px;
    border-radius: 10px;
    
}

p.pageNumber{
    margin:auto;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-right:5px;
}

footer{
    display:flex;

    margin-top:10px;
    max-width:350px;
    max-height: 150px;

}

footer p{
    display:inline-block;
}


@media (min-width:720px){

    body{
        width:100%;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding: 5px;
        background-color: rgb(238, 236, 236);
        padding:5px;
    }

    div.container{
   
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        width:100%;      
      
    
        margin-right:10px;
        
    }
    

    .student{
        border: 1px solid black;
        display:grid;
        grid-template-columns: 1fr;
        align-items:center;
        justify-content: center;
        width:230px;    
        max-width:250px;  
        margin-right:5px;
       
        padding:2px;
    }
   
}


